*{
    margin: 0px;
    padding: 0px;
}

.logo{
    height:50px;
    margin-left:10px;

}

.container1{
    height: 69px;
    display: flex;
    align-items: center;
    background-color: black;
    width:100%;
    position:fixed;
    
}

.container2{
   display:flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   background-color: brown;
   height: 50px;
   width:500px;

}
a{
    color: white;
    text-decoration: underline;
}

.container3{
    display: flex;
    justify-content: flex-end;
}

nav{
    
}

