*{
    margin: 0px;
    padding: 0px;
}

.logo{
    height:50px;
    margin-left:10px;

}

.container1{
    height: 69px;
    display: flex;
    align-items: center;
    background-color: black;
    position:fixed;
    
}

.container2{
   display:flex;
   justify-content: space-between;
   background-color: black;
   height: 50px;
   width:500px;
   margin-right: 10px;

}
a{
    color: white;
    text-decoration: underline;
}

.container3{
    display: flex;
    justify-content: center;
}

.container_conteudo{
    display:flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
    width:800px;
    height:1000px;

}

.container_geral{
    display:flex;
    background-color:brown;
    justify-content: center;
    align-items: center;
}

