.foto{
    background-image: url(resources/img-donut.jpg);
    width:300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}

.locations{
    background-color: aquamarine;
}
.container{
    background-color: brown;
    width: 70px;
    height: 70px;
    display: flex;
}

.container9{
    background-color: blueviolet;
    width: 60px;
    height: 60px;
    
}

.container10{
    background-color: blue;
    width:60px;
    height: 60px;
    opacity:1;
}

.container11{
    background-color: green;
    width:60px;
    height: 60px;
}